/********** Styles généraux **********/
* {
    box-sizing: border-box;
}

.margin-zero {
    margin: 0;
}

.margin-zero-auto {
    margin: 0 auto;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

h3 {
    margin: 0;
    padding: 5px 10px;
    font-size: 18px;
}

p {
    margin: 0;
}

.stronger {
    font-weight: bold;
}

.shadow {
    border-radius: 30px;
    box-shadow: 0px 0px 10px 3px var(--secondary-grey);
}

.shadow:hover {
    box-shadow: 0px 0px 2px 5px var(--secondary-grey);
}

.shadow:hover img {
    transform: scale(1.1);
}

/********** Styles du header **********/
header {
    max-width: 1920px;
    width: 100%;
    padding: 0px 66px;
}

header img {
    margin: 30px 0;
    height: 60px;
}

nav {
    margin: 25px 20px;
}

nav a {
    margin: 0 10px;
    padding: 39px 30px;
}

.active-menu {
    color: var(--primary-blue);
    border-top: var(--border-blue-2pixels);
}

nav a:hover {
    color: var(--primary-blue);
    border-top: var(--border-blue-2pixels);
}

/********** Styles du main **********/
main {
    max-width: 1920px;
    padding: 0px 66px;
}

/** Styles de la section Recherche et filtre **/
.section-search-filter {
    width: 100%;
}

.h1-intro {
    padding: 5px 10px;
}

h1 {
    font-size: 24px;
}

.h1-intro p {
    padding-top: 5px;
}

/* Couleur par défaut des icônes */
.fas {
    color: var(--primary-blue);
}

.icon-black {
    color: black;
}

.form-search {
    padding: 15px 10px;
}

.fa-map-marker-alt {
    width: 60px;
    background-color: var(--primary-grey);
    font-size: 20px;
    padding: 20px;
    border-radius: 15px 0 0 15px;
}

#location {
    width: 250px;
    border-top: var(--border-grey-2pixels);
    border-right: 0;
    border-bottom: var(--border-grey-2pixels);
    border-left: var(--border-grey-2pixels);
    padding: 0 15px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
}

.button-search {
    background-color: var(--primary-blue);
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 0 20px;
    border: 1px solid var(--primary-blue);
    border-radius: 0 15px 15px 0;
}

.button-search:hover {
    cursor: pointer;
}

.fa-search {
    display: none;
}

.all-filters {
    position: relative;
    font-weight: bold;
}

.all-filters h3 {
    position: absolute;
    align-self: baseline;
    margin-top: 30px;
    padding: 0 20px;
}

.all-filters div {
    flex-wrap: wrap;
}

.filter:first-of-type {
    margin-left: 115px;
}

.filter {
    margin: 15px;
    height: 50px;
    padding: 0;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border: 0;
    cursor: pointer;
    border-top: var(--border-grey-3pixels);
    border-right: var(--border-grey-3pixels);
    border-bottom: var(--border-grey-3pixels);
    border-radius: 25px;
}

.all-filters span {
    padding: 0 20px;
}

.filter:hover {
    background-color: var(--secondary-blue);
    border-top: var(--border-sec-blue-3pixels);
    border-right: var(--border-sec-blue-3pixels);
    border-bottom: var(--border-sec-blue-3pixels);
    cursor: pointer;
}

.filter-icons {
    background-color: var(--secondary-blue);
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.fa-info {
    height: 30px;
    min-width: 30px;
    border: var(--border-grey-2pixels);
    border-radius: 15px;
    margin: 0 10px;
}

.information {
    margin: 15px 0;
}

.information p {
    padding: 0;
}

.pets {
    white-space: nowrap;
}

/** Styles de la section Hébergements **/
#section-accomodations {
    margin-top: 20px;
     margin-bottom: 40px;
 }

#section-accomodations a {
    margin: 15px 0;
}

#section-accomodations h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.panel-accomodations {
    flex: 2;
    background-color: var(--primary-grey);
    border-radius: 30px;
    margin-right: 30px;
    padding: 20px 30px;
}

.list-accomodations a {
    width: 30%;
}

.card-accomodation {
    height: 100%;
    background-color: white;
    border: var(--border-white-5pixels);
    border-radius: 30px;
}

.picture-box-accomodation {
    height: 130px;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
}

.card-accomodation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.description-accomodation {
    flex: 1;
    padding-left: 15px;
}

.description-accomodation h3 {
    padding-left: 0;
}

.five-stars {
    padding-top: 5px;
}

 .star-grey {
    color: var(--secondary-grey);
}

.panel-accomodations h3:last-child {
    font-size: 20px;
    margin-top: 20px;
}

.panel-populars {
    flex: 1;
    background-color: var(--primary-grey);
    border-radius: 30px;
    padding: 20px 30px;
}

.panel-populars a {
    width: 100%;
}

.fa-chart-line {
    margin-top: 10px;
}

.card-popular {
    width: 100%;
    background-color: white;
    border: var(--border-white-5pixels);
    border-radius: 30px;
}

.picture-box-popular {
    height: 160px;
    width: 40%;
    border-radius: 25px 0 0 25px;
    overflow: hidden;
}

.picture-box-popular img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
}

.description-popular {
    width: 60%;
    height: 160px;
}

.description-popular div {
    padding-left: 20px;
}

.description-popular h3 {
    margin-top: 5px;
    padding-left: 0;
}

.description-popular div {
    margin-bottom: 5px;
}

/** Styles de la section  Activités **/
#section-activities {
    margin-bottom: 60px;
}

.list-activities {
    width: 100%;
}

.block-activities {
    width: 22%;
    border-radius: 30px;
}

.block-activities a {
    border-radius: 30px;
}

.card-activities-full,
.card-activities-two-thirds,
.card-activities-one-third,
.card-activities-half {
    border-radius: 30px;
}

.upper-card {
    margin-bottom: 40px;
}

.picture-box-activities-full {
    height: 390px;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

.picture-box-activities-two-thirds {
    height: 190px;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

.picture-box-activities-one-third {
    height: 100px;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

.picture-box-activities-half {
    height: 145px;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

.list-activities img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.list-activities h3 {
    height: 60px;
    padding: 0 20px;
    border-radius: 0 0 30px 30px;
}

/********** Styles du footer **********/
footer {
    background-color: var(--primary-grey);
    padding: 50px 0;
}

.footer-content {
    max-width: 1920px;
    width: 100%;
    padding: 0 66px;
}

.footer-content div {
    max-width: 33%;
    margin: 0 auto 0 0;
}

footer h3 {
    margin: 0 0 25px 0;
    padding: 0;
}

footer ul {
    padding-left: 0;
}

footer li {
    margin-top: 15px;
}